# Data Science Tools and Ecosystem

## Author: Shane Murphy

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular data science languages.
- List commonly used data science libraries.
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
    
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Keras

| Data Science Tools |
---
| MySQL |
| Apache AirFlow | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335